/* Global */
:root {
    --fg: #B99468;
    --bg: #101010;
    --table-entry-bg-color: var(--bg);
    --caret: #00FF00;
}

html,* {
    font-family: sans-serif !important;
    font-size: 40px;
}

* {
    color: var(--fg);
    background-color: var(--bg);
}

/* Search Results */

#lose {
    padding: 10px;
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translateX(-50%);
    width: 75%;
}

#lose>table {
    width: 100%;
}

th, td {
    padding-bottom: 15px;
    background-color: var(--table-entry-bg-color);
    padding: 10px;
}

/* Search Input */

#searchInput {
    width: 100%;
    margin-bottom: 20px;
}

#searchInput {
    padding: 10px;
    border: none;
    background-color: black;
    background-image: linear-gradient(rgb(0 0 0/110%) 0 0);
    caret-color: var(--caret);
}

[contenteditable] {
    /* https://stackoverflow.com/questions/19647290/how-to-preserve-white-spaces-in-content-editable-div */
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

/* Copyable */

.copyable {
    font-family: monospace !important;
}

.copyable:hover {
    cursor: copy;
    filter: brightness(80%);
}

.copyable:active {
    filter: brightness(70%);
}

/* syntax highlighting */

.string-literal {
    color: #FFA900;
    background: #00000000;
}
